PHX_SERVER=true
PORT=4000
PHX_HOST=caio-jobs.com
SECRET_KEY_BASE=
DATABASE_PATH=/var/lib/caio/caio.sqlite3
JOB_CRAWLER_DATABASE=/var/lib/caio/caio.sqlite3
POOL_SIZE=10
RAILS_ENV=production
REDIS_URL=redis://127.0.0.1:6379/0
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=https://caio-jobs.com/auth/github/callback
